<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Caesar Cipher Decryptor</h1>
    <input id="cipherText" type="text" placeholder="Enter encrypted message" />
    <input id="key" type="number" placeholder="Enter key" />
    <button onclick="decrypt()">Decrypt</button>
    <p id="output">Decrypted message:</p>

    <h1>Caesar Cipher Decryptor (File Submit)</h1>
    <input id="fileInput" type="file" accept=".txt" />
    <input id="key_file" type="number" placeholder="Enter key" />
    <button onclick="decrypt_file()">Decrypt</button>
    <p id="output_file">Decrypted message:</p>
    <script src="decrypt.js"></script>
  </body>
</html>
